<mat-nav-list>
    <div class="profile-card">
        <div class="header">
            <h2>Revenue Report</h2>
            <h4>2020-2021</h4>
        </div>
        <img src="assets/report.jpg" alt="Soufiane FADIL">
    </div>

    <mat-divider></mat-divider>

    <h2 matSubheader>Pages</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/">Dashboard</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/posts">News</a>
    <a mat-list-item routerLinkActive="list-item-active" routerLink="/articles">Faq</a>

    <mat-divider></mat-divider>

    <h2 matSubheader>Tools</h2>

    <a mat-list-item routerLinkActive="list-item-active" routerLink="/contacts">
        <mat-icon>import_contacts</mat-icon>
        Contact Us
    </a>

    

</mat-nav-list>